@import "/src/index.scss";

.comment {
    margin-bottom: 48px;
    &:last-child {
        margin-bottom: 0;
    }

    &__wrap {
        display: flex;
        align-items: flex-start;
    }

    &__user {
        display: inline-block;
        max-width: 120px;
        height: 120px;
        object-fit: cover;
        border-radius: 8px;
    }

    &__content {
        margin-left: 32px;
        width: 100%;
    }

    &__name-wrap {
        span {
            &:last-child {
                padding-left: 8px;
            }
        }
    }

    &__name {
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
    }

    &__date {
        font-weight: normal;
        font-size: 18px;
        color: $color-sec;
    }

    &__desc {
        margin-top: 16px;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 30px;
    }

    &__options {
        margin-top: 23px;

        span {
            margin-right: 24px;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            color: $color-sec;
            cursor: pointer;
            transition: 0.3s ease-in-out;

            &:hover {
                color: $color-hover;
            }
        }
    }
}