@import '../../index.scss';

.homepage {
    &__container {
        @extend %wrapper;
    }
    &__comments-list {
        margin-top: 32px;
        padding-top: 32px;
        border-top: 2px solid #CDD7E5;
        border-radius: 1px;
    }
}